# coding:utf-8

import os, sys

$XONSHRCD_DIR='~/.xonshrc.d'

$LANG='en_DK.UTF-8'
$LC_ALL='en_DK.UTF-8'
$XONSH_ENCODING = 'UTF-8'

$FORCE_POSIX_PATHS = True

source_alias = aliases['source']

prepare_xsh_path=os.path.join($XONSHRCD_DIR, 'prepare.xsh')
if os.path.isfile(prepare_xsh_path):
  source_alias([prepare_xsh_path,])

init_xsh_path=os.path.join($XONSHRCD_DIR, 'init.xsh')
source_alias([init_xsh_path,])
